SECRET_KEY=django-insecure-e59+nsp9k+zyu&#+4xk^j!i9gugd!dy@y-l8kykpm6fqr3#p^s
IP_ADDRESS=0.0.0.0
DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_DB=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_SCHEMA=public
ADMIN_URL=admin/
SILK_URL=silk/
